<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Romp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        background: black;
        color: black;
    }

    .container {
        background: white;
    }
</style>

<body>
    <nav class="navbar navbar-light" style="background: #ffcc00">
        <a class="navbar-brand" href="/vendor/homePage">
            <div class="form-inline">
                <img src="/logo.png" width="70" height="70" class="d-inline-block align-top ml-3 mt-3" alt="">
                <p class="ml-3 mt-4" id="navbrand">ROMP | Vendor</p>
            </div>
        </a>
        <h5 class="p-4">{{vendor.vendorName}}</h5>

    </nav>
    <div class="row m-md-5 m-3">
        <div class="col-md-2" style="color: white;">
            <p class="mt-md-10 ml-3"><b>Products</b></p>
            <a href="/vendor/products/list" style="color: #ffcc00;" class="ml-4">Products list</a><br>
            <a href="/product/add" style="color: #ffcc00;" class="ml-4">Add product</a>
            <br><br>
            <p class="mt-md-10 ml-3"><b>Orders</b></p>
            <a href="/pendingorders" style="color: #ffcc00;" class="ml-4">Pending orders</a><br>
            <a href="/vendor/homePage" style="color: #ffcc00;" class="ml-4">All orders</a>
            <br><br>
            <p class="mt-md-10 ml-3"><b>Feeds </b></p>
            <a href="/createPost" style="color: #ffcc00;" class="ml-4">Create/Edit </a><br><br>
            <p class="mt-md-10 ml-3"><b>Messages</b></p>
            <a href="#" style="color: #ffcc00;" class="ml-4">Customer </a><br>
            <a href="#" style="color: #ffcc00;" class="ml-4">Lena Support</a><br><br>
            <p class="mt-md-10 ml-3"><b>Profile</b></p>
            <a href="#" style="color: #ffcc00;" class="ml-4">Update Profile </a><br>
            <a href="/logout" style="color: #ffcc00;" class="ml-4">Logout </a><br><br>
        </div>
        <div class="col-md-10">
            <div class="p-md-5 p-3" style="background:white ;">
                <form action="/product/update/{{product._id}}" method="POST" encType="multipart/form-data">
                    Product name <br>
                    <input type="text" name="product_name" value="{{product.product_name}}" class="form-control"><br>
                    Brand name<br>
                    <input type="text" name="company_name" value="{{product.company_name}}" class="form-control"><br>
                    Barcode(If available)<br>
                    <input type="text" name="barcode" value="{{product.barcode}}" class="form-control"><br>
                    Cost Price<br>
                    <input type="text" name="costprice" value="{{product.costprice}}" class="form-control"><br>
                    Discount<br>
                    <input type="text" name="discount" value="{{product.discount}}" class="form-control"><br>
                    Margin<br>
                    <input type="text" name="margin" value="{{product.margin}}" class="form-control"><br>
                    Selling Price<br>
                    <input type="text" name="sellingprice" value="{{product.sellingprice}}" class="form-control"><br>
                    MRP<br>
                    <input type="text" name="mrp" value="{{product.mrp}}" class="form-control"><br>
                    SGST<br>
                    <input type="text" name="sgst" value="{{product.sgst}}" class="form-control"><br>
                    CGST<br>
                    <input type="text" name="cgst" value="{{product.cgst}}" class="form-control"><br>
                    Best Before <br>
                    <input type="date" name="best_before" value="{{product.best_before}}" class="form-control"><br><br>
                    <div class="text-center">
                        <button class="btn btn-primary center">Edit Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>