<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Romp</title>
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .filterDiv {
        float: left;
        color: #ffffff;
        line-height: 100px;
        text-align: center;
        margin: 2px;
        display: none;
    }

    .show {
        display: block;
    }



    /* Style the buttons */
    .btn1 {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: inherit;
        display: inline-block;
    }

    .btn1:hover {
        background-color: #ddd;
    }
</style>

<body onload="myFunction()">
    @if(messages.loginSucces)
    <script>
        function myFunction() {
            swal({
                title: "Logged in Successfully",
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif
    @if(messages.IncorrectPwd)
    <script>
        function myFunction() {
            swal({
                title: "You Have Entered an Incorrect Password",
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif
    @if(messages.IncorrectEmail)
    <script>
        function myFunction() {
            swal({
                title: "You Have Entered an Incorrect Email",
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif
    @if(messages.EmailAlreadyExist)
    <script>
        function myFunction() {
            swal({
                title: "Email already exist please try using other mail id",
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif
    @if(messages.RegistrationSuccess)
    <script>
        function myFunction() {
            swal({
                title: "Registered successfully.Login continue",
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif
    @if(messages.pleaseLogin)
    <script>
        function myFunction() {
            swal({
                title: "Please login to continue shopping",
                timer: 6000,
                showConfirmButton: false
            });
        };
    </script>
    @endif
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-lg-5" href="/"><img src="images/logo.png" alt="" height="50px" width="58px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            Lena-controls="navbarNav" Lena-expanded="false" Lena-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto mr-lg-5">
                <li class="nav-item active ml-lg-3 mr-lg-3">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link ml-lg-3 mr-lg-3" href="/social">Social</a>
                </li>
                @if(!auth)
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#u_login">User Login</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#v_login">Vendor Login</a>
                    </div>
                </li>
                <li class="nav-item ml-lg-3 mr-lg-3">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#u_register">Register</a>
                </li>
                @endif
                @if(auth)
                <li class="nav-item">
                    <a class="nav-link ml-lg-3 mr-lg-3" href="/myorders">My orders</a>
                </li>
                @endif
                <li class="nav-item ml-lg-3 mr-lg-3">
                    <a class="nav-link" href="#footer">Contact us</a>
                </li>
                @if(auth)
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                @endif
            </ul>
        </div>
    </nav>
    <!-- carousel start-->
    <br>
    <!-- <h2 class="text-center mb-5">Offers Near You</h2> -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>

        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="{{Coursal.oneLink}}">

                    <img src="{{Coursal.one}}" class="d-block w-100" height="500px" id="vcarousel_img" alt="...">

                </a>
            </div>
            <div class="carousel-item ">
                <a href="{{Coursal.twoLink}}">

                    <img src="{{Coursal.two}}" class="d-block w-100" height="500px" id="vcarousel_img" alt="...">

                </a>
            </div>
            <div class="carousel-item ">
                <a href="{{Coursal.threeLink}}">

                    <img src="{{Coursal.three}}" class="d-block w-100" height="500px" id="vcarousel_img" alt="...">

                </a>
            </div>
            <div class="carousel-item ">
                <a href="{{Coursal.fourLink}}">

                    <img src="{{Coursal.four}}" class="d-block w-100" height="500px" id="vcarousel_img" alt="...">

                </a>
            </div>
            <div class="carousel-item ">
                <a href="{{Coursal.fiveLink}}">

                    <img src="{{Coursal.five}}" class="d-block w-100" height="500px" id="vcarousel_img" alt="...">

                </a>
            </div>
            <div class="carousel-item ">
                <a href="{{Coursal.sixLink}}">

                    <img src="{{Coursal.six}}" class="d-block w-100" height="500px" id="vcarousel_img" alt="...">

                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- carousel end-->
    <div class="container mx-auto">
        <!-- Header start -->
        <!-- <div class="row" id="head">
            <div class="col-md-6 my-lg-auto">
                <h1><b>LENA</b></h1><br>
                <p>Need a Personal Assistant ?</p>
                <p>Introducing Lena, Your own Online personal assistant that helps you with everything from getting
                    groceries to
                    booking appointments with doctors and saloons</p><br><br>
                <a href="#htu"> <button class="btn">How to use ?</button> </a>
            </div>
            <div class="col-md-6" id="himg">
                <img src="images/Group 52.png" alt="">
            </div>
        </div><br><br>
        <center>
            <img src="images/Group 3.png" alt="">
        </center><br><br> -->
        <!-- Header end -->



        <!-- Categories start-->
        <h2 class="text-center mt-5">Categories</h2>
        <div id="myBtnContainer">
            <div class="row mt-3">
                <div class="col p-1">
                    <button class="btn1" onclick="filterSelection('all')">
                        <img class="center" src="images/allCat.png" alt="">
                        <p class="text-center mt-2">All</p>
                    </button>
                </div>
                <div class="col p-1">
                    <button class="btn1" onclick="filterSelection('Groceries')">
                        <img class="center" src="images/Groceries.png" alt="">
                        <p class="text-center mt-2">Groceries</p>
                    </button>
                </div>
                <div class="col p-1">
                    <button class="btn1" onclick="filterSelection('Clothes')">
                        <img class="center" src="images/Clothing.png" alt="">
                        <p class="text-center mt-2">Clothing</p>
                    </button>
                </div>
                <div class="col p-1">
                    <button class="btn1" onclick="filterSelection('Food')">
                        <img class="center" src="images/Food.png" alt="">
                        <p class="text-center mt-2">Food</p>
                    </button>
                </div>
                <div class="col p-1">
                    <button class="btn1" onclick="filterSelection('Electronics')">
                        <img class="center" src="images/Electronics.png" alt="">
                        <p class="text-center mt-2">Electronics</p>
                    </button>
                </div>
                <div class="col p-1">
                    <button class="btn1" onclick="filterSelection('Grooming')">
                        <img class="center" src="images/Grooming.png" alt="">
                        <p class="text-center mt-2">Grooming</p>
                    </button>
                </div>
                <div class="col p-1">
                    <button class="btn1" onclick="filterSelection('pharma')">
                        <img class="center" src="images/Medicines.png" alt="">
                        <p class="text-center mt-2">Medicines</p>
                    </button>
                </div>
            </div>
        </div>

        <!-- Categories end-->
        <!-- popular near you start -->
        <h2 class="text-center mt-3">Popular Near You</h2>
        <div class="row">
            @each(v in vendors)
            <div class="col-md-4 mt-3 filterDiv {{v.vendorCategory}}" id="con" style="margin-left: -2px;">
                <img class="vimg" src="{{v.vendorDisplayPic}}" alt="">
                <div class="overlay"></div>
                <div class="middle">
                    <p>{{v.vendorName}}</p>
                    <a href="/vendor/{{v._id}}"> <button class="btn btn-primary">Explore</button> </a>
                    <a href="/buy/{{v._id}}"><button class="btn btn-primary">Buy</button></a>
                </div>
            </div>
            @endeach
        </div>
        <!-- popular near you end -->

        <!-- services start -->
        <!-- <div id="services">
            <h2 class="mb-sm-3 mb-md-3 mt-5 text-center"><b>Services</b></h2>
            <div id="ser">
                <div class="row mt-lg-5">
                    <div class="col-md-2">
                        <img src="images/Group 57.png" alt="">
                    </div>
                    <div class="col-md-10">
                        <p><b>Groceries</b></p>
                        <p>Send Lena the list or pictures of any groceries you need on any of our handles and get it
                            delivered in no
                            time.</p>
                    </div>
                </div>
                <div class="row mt-lg-5">
                    <div class="col-md-2">
                        <img src="images/Group 58.png" alt="">
                    </div>
                    <div class="col-md-10">
                        <p><b>Medicines</b></p>
                        <p>Send Lena the prescription in the form of text or picture to any of our handles and get it
                            delivered in
                            no time.</p>
                    </div>
                </div>
                <div class="row mt-lg-5">
                    <div class="col-md-2">
                        <img src="images/Group 59.png" alt="">
                    </div>
                    <div class="col-md-10">
                        <p><b>Offers</b></p>
                        <p>Lena keeps a track of all the offers around your area and all you need to do is ask and Lena
                            send you all
                            the offers around so you can shop without burning a hole in your pocket.</p>
                    </div>
                </div>
                <div class="row mt-lg-5">
                    <div class="col-md-2">
                        <img src="images/Group 60.png" alt="">
                    </div>
                    <div class="col-md-10">
                        <p><b>Appointment</b></p>
                        <p>Wheather an appointment with a saloon or doctor, just ask Lena to make an appointment on your
                            behalf and
                            Lena does it for you. </p>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- services end -->
        <br>
        <br>
        <!-- how to use start -->
        <!-- <div class="mt-lg-5 mb-lg-5" id="htu">
            <h2 class="text-center"><b>How to use ?</b></h2>
            <div class="card-deck mt-lg-5">

                <div class="card text-center">
                    <div class="card-body">
                        <p><b>1.</b></p>
                        <h5 class="card-title">Place your order</h5>
                        <p class="card-text">Text or upload the tasks you want Lena to complete.</p>
                        <br><br><br>
                        <img src="images/Frame.png" alt="">
                    </div>
                </div>

                <div class="card text-center">
                    <div class="card-body">
                        <p><b>2.</b></p>
                        <h5 class="card-title">Confirmation</h5>
                        <p class="card-text">Lena checks with it's providers and sends you a request to confirm the
                            task.</p>
                        <br>
                        <img src="images/Group 54.png" alt="">
                    </div>
                </div>

                <div class="card text-center">
                    <div class="card-body">
                        <p><b>3.</b></p>
                        <h5 class="card-title">Delivery</h5>
                        <p class="card-text">After your confirmation the task will be completed within the mentioned
                            time and an
                            order summary will be sent after its completion.</p>
                        <br>
                        <img src="images/Group.png" alt="">
                    </div>
                </div>

            </div>
        </div> -->
    </div>
    <!-- how to use end -->
    <!-- footer start -->
    <div class="mt-5 p-5" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h5><b>Romp</b></h5> <br>
                    <a href="Lena Privacy Policy.pdf" style="color: white;">
                        <p>Privacy policy</p>
                    </a>
                    <a href="Lena Terms and Conditions.pdf" style="color: white;">
                        <p>Terms of use</p>
                    </a>
                    <p>Careers</p><br><br>
                    <p>© Copyright 2019 - All Rights Reserved. Designed by Branciau Technologies</p>
                </div>
                <div class="col-md-5">
                    <p>Social Connects</p> <br>
                    <a href="https://www.facebook.com/Lenacoin-100724118039916/?modal=admin_todo_tour"
                        style="color: white;"> <i class="fa fa-facebook-square ml-1 mr-1" style="font-size: 30px;"></i>
                    </a>
                    <a href="https://www.instagram.com/lena.co.in1/" style="color: white;"> <i
                            class="fa fa-instagram ml-1 mr-1" style="font-size: 30px;"></i> </a>
                    <a href="https://wa.me/917981701250" style="color: white;"> <i class="fa fa-whatsapp ml-1 mr-1"
                            style="font-size: 30px;"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->

    <!-- User login modal start -->
    <!-- Modal -->
    <div class="modal fade" id="u_login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/user/login" method="POST" encType="multipart/form-data">
                        Email <br>
                        <input type="email" name="email" class="form-control" required id=""> <br>
                        Password <br>
                        <input type="password" name="password" required class="form-control" id=""> <br><br>
                        <button class="btn btn-primary">Login</button>
                    </form><br>
                    <p>Not yet registered. <a href="/user/register">Register Now!</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- User login modal end -->

    <!-- Vendor login modal start -->
    <!-- Modal -->
    <div class="modal fade" id="v_login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Vendor Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/vendor/login/validate" method="POST" encType="multipart/form-data">
                        email <br>
                        <input type="email" required name="vendorBusinessEmail" class="form-control" id=""> <br>
                        Password <br>
                        <input type="password" required name="password" class="form-control" id=""> <br><br>
                        <button class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor login modal end -->

    <!-- User Register modal start -->
    <!-- Modal -->
    <div class="modal fade" id="u_register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/user/store" method="POST" encType="multipart/form-data">
                        Username <br>
                        <input type="text" name="username" required class="form-control" id=""> <br>
                        Email <br>
                        <input type="email" name="email" required class="form-control" id=""> <br>
                        Mobile <br>
                        <input type="text" name="mobile" required class="form-control" id=""> <br><br>
                        H.NO <br>
                        <input type="text" name="hno" required class="form-control" id=""> <br><br>
                        Area <br>
                        <input type="text" name="area" required class="form-control" id=""> <br><br>
                        City <br>
                        <input type="text" name="city" required class="form-control" id=""> <br><br>
                        Pincode <br>
                        <input type="text" name="pincode" required class="form-control" id=""> <br><br>
                        Password <br>
                        <input type="password" name="password" required class="form-control" id=""> <br><br>
                        <button class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- User Register modal end -->
</body>
<script>
    filterSelection("all")
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("filterDiv");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) { element.className += " " + arr2[i]; }
        }
    }

    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn1");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>


</html>