<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Romp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>
<style>
    body {
        background: black;
        color: black;
    }

    .container {
        background: white;
    }
</style>

<body>
    <nav class="navbar navbar-light" style="background: #ffcc00">
        <a class="navbar-brand" href="/vendor/homePage">
            <div class="form-inline">
                <img src="/logo.png" width="70" height="70" class="d-inline-block align-top ml-3 mt-3" alt="">
                <p class="ml-3 mt-4" id="navbrand">Lena | Vendor</p>
            </div>
        </a>
        <h5 class="p-4">{{vendor.vendorName}}</h5>

    </nav>
    <div class="row m-md-5 m-3">
        <div class="col-md-2" style="color: white;">
            <p class="mt-md-10 ml-3"><b>Products</b></p>
            <a href="/vendor/products/list" style="color: #ffcc00;" class="ml-4">Products list</a><br>
            <a href="/product/add" style="color: #ffcc00;" class="ml-4">Add product</a>
            <br><br>
            <p class="mt-md-10 ml-3"><b>Orders</b></p>
            <a href="/pendingorders" style="color: #ffcc00;" class="ml-4">Pending orders</a><br>
            <a href="/vendor/homePage" style="color: #ffcc00;" class="ml-4">All orders</a>
            <br><br>
            <p class="mt-md-10 ml-3"><b>Feeds </b></p>
            <a href="/createPost" style="color: #ffcc00;" class="ml-4">Create/Edit </a><br><br>
            <p class="mt-md-10 ml-3"><b>Messages</b></p>
            <a href="#" style="color: #ffcc00;" class="ml-4">Customer </a><br>
            <a href="#" style="color: #ffcc00;" class="ml-4">Lena Support</a><br><br>
            <p class="mt-md-10 ml-3"><b>Profile</b></p>
            <a href="#" style="color: #ffcc00;" class="ml-4">Update Profile </a><br>
            <a href="/logout" style="color: #ffcc00;" class="ml-4">Logout </a><br><br>
        </div>
        <div class="col-md-10" style="background-color: white;">
            <div class="p-md-5 p-3">
                <input type="text" class="form-control" placeholder="Search">
                <strong>
                    <div class="text-center mt-3">
                            <h2>Product Details</h2>
                    </div>
                </strong>
                <br><br>
                <div>
                    <div class="row">
                        <div class="col-md-3">
                            Product Photo
                        </div>
                        <div class="col-md-3">
                            <p>Product Details</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <p><b>Product Stock<br></b></p>
                        </div>
                        <div class="col-md-3 text-center">
                                <p>Options</p><br>
                        </div>
                    </div>
                </div>
                @each(product in products)
                <div>
                    <div class="row mt-3 mb-3 p-3 border rounded">
                        <div class="col-md-3">
                            <img src="{{product.product_pic}}" alt="" width="150px" height="150px">
                        </div>
                        <div class="col-md-3">
                            <p>{{product.product_name}}</p>
                            <p>{{product.company_name}} </p>
                            <p>Rs.{{product.mrp}}</p>
                        </div>
                        <div class="col-md-3 text-center">
                            <p><b>Available stock <br> {{product.number}}&nbsp;{{product.units}}</b></p>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal{{$loop.index}}">
                                Edit Stock
                            </button>
                        </div>
                        <div class="col-md-3 text-center">
                            <a href="/product/edit/{{product._id}}">
                                <p class="btn btn-primary">Edit</p><br>
                            </a>
                            <a href="/deleteProduct/{{product._id}}">
                                <p class="btn border btn-danger">Delete</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal{{$loop.index}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Stock</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Product Name : {{product.product_name}}</p>
                                <p>Company Name : {{product.company_name}}</p>
                                <p>Prize : Rs.{{product.prize}}</p>
                                <p>Subtype : {{product.subtype}}</p>
                                <form action="/updatestock/{{product._id}}" method="POST" encType="multipart/form-data">
                                    <p>Update Stock</p>
                                    <input type="number" name="number"
                                        value="{{product.number}}">&nbsp;{{product.units}}<br><br>
                                    <input type="submit" class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                @endeach
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- Button trigger modal -->

    <!-- Modal -->

</body>

</html>