<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lena</title>
    <link rel="stylesheet"
        href="https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ml-lg-5" href="#"><img src="images/logo.png" alt="" height="50px" width="58px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            Lena-controls="navbarNav" Lena-expanded="false" Lena-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto mr-lg-5">
                <li class="nav-item active ml-lg-3 mr-lg-3">
                    <a class="nav-link" href="#head">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-lg-3 mr-lg-3">
                    <a class="nav-link" href="#services">About Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link ml-lg-3 mr-lg-3" href="/social">Social</a>
                </li>
                @if(!auth)
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#u_login">User Login</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#v_login">Vendor Login</a>
                    </div>
                </li>
                <li class="nav-item ml-lg-3 mr-lg-3">
                    <a class="nav-link" href="/user/register">Register</a>
                </li>
                @endif
                @if(auth)
                <li class="nav-item">
                    <a class="nav-link ml-lg-3 mr-lg-3" href="/myorders">My orders</a>
                </li>
                @endif
                <li class="nav-item ml-lg-3 mr-lg-3">
                    <a class="nav-link" href="#footer">Contact us</a>
                </li>
                @if(auth)
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                @endif
            </ul>
        </div>
    </nav>
    <!-- Posts start -->
    <div class="container">
        @each(post in posts)
        <a href="/vendor/{{post.author._id}}">
            <div class="mt-lg-5">
                <div class="mt-lg-5 ml-lg-5 mt-sm-3 ml-sm-3 mt-md-3 ml-md-3">
                    <div class="form-inline">
                        <div class="border border-dark" style="width: 65px;height:65px;border-radius: 50%">
                            <img src="{{post.author.vendorDisplayPic}}" height="65px" width="65px"
                                style="border-radius: 50%">
                        </div>
                        <p class="ml-2 mt-3">{{post.author.vendorName}}<br>{{post.author.vendorLocation}}</p>
                    </div>
                </div>
                <div class="mt-lg-3 p-lg-5 mb-lg-5 text-center">
                    <img src="{{post.image}}" alt="" width="100%" height="350px"><br><br>
                    <p>{{post.content}}</p>
                </div>
            </div>
        </a>
        <br>
        @endeach
    </div>
    <!-- Posts end -->
    <!-- footer start -->
    <div class="mt-5 p-5" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h5><b>Lena</b></h5> <br>
                    <a href="Lena Privacy Policy.pdf" style="color: white;">
                        <p>Privacy policy</p>
                    </a>
                    <a href="Lena Terms and Conditions.pdf" style="color: white;">
                        <p>Terms of use</p>
                    </a>
                    <p>Careers</p><br><br>
                    <p>© Copyright 2019 - All Rights Reserved. Designed by Branciau Technologies</p>
                </div>
                <div class="col-md-5">
                    <p>Social Connects</p> <br>
                    <a href="https://www.facebook.com/Lenacoin-100724118039916/?modal=admin_todo_tour"
                        style="color: white;"> <i class="fa fa-facebook-square ml-1 mr-1" style="font-size: 30px;"></i>
                    </a>
                    <a href="https://www.instagram.com/lena.co.in1/" style="color: white;"> <i
                            class="fa fa-instagram ml-1 mr-1" style="font-size: 30px;"></i> </a>
                    <a href="https://wa.me/917981701250" style="color: white;"> <i class="fa fa-whatsapp ml-1 mr-1"
                            style="font-size: 30px;"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end -->

    <!-- User login modal start -->
    <!-- Modal -->
    <div class="modal fade" id="u_login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">User Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/user/login" method="POST" encType="multipart/form-data">
                        Email <br>
                        <input type="email" name="email" class="form-control" required id=""> <br>
                        Password <br>
                        <input type="password" name="password" required class="form-control" id=""> <br><br>
                        <button class="btn btn-primary">Login</button>
                    </form><br>
                    <p>Not yet registered. <a href="/user/register">Register Now!</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- User login modal end -->

    <!-- Vendor login modal start -->
    <!-- Modal -->
    <div class="modal fade" id="v_login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Vendor Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/vendor/login/validate" method="POST" encType="multipart/form-data">
                        email <br>
                        <input type="email" name="vendorBusinessEmail" class="form-control" id=""> <br>
                        Password <br>
                        <input type="password" name="password" class="form-control" id=""> <br><br>
                        <button class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor login modal end -->
</body>

</html>