<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Romp Social</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script>
</head>
<style>
    nav {
        background: #18054a;
    }
</style>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light mb-5">
            <a href="/">
                <div class="form-inline">
                    <img src="/logo.png" width="70" height="70" class="d-inline-block align-top ml-3 mt-3" alt="">
                    <p class="ml-3 mt-4"></p>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="/social">Social</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="#">Search</a>
                    </li>
                    @if(auth)
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="#">{{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="/logout">Logout</a>
                    </li>
                    @endif
                    @if(!auth)
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="/user/loginpage">User
                            login/Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="/vendor/login">Vendor login</a>
                    </li>
                    @endif
                </ul>
            </div>
        </nav>
        @each(post in posts)
        <a href="/vendor/{{post.author._id}}">
            <div class="mt-lg-5">
                <div class="mt-lg-5 ml-lg-5 mt-sm-3 ml-sm-3 mt-md-3 ml-md-3">
                    <div class="form-inline">
                        <div class="border border-dark" style="width: 65px;height:65px;border-radius: 50%"></div>
                        <p class="ml-2 mt-3">{{post.author.vendorName}}<br>{{post.author.vendorLocation}}</p>
                    </div>
                </div>
                <div class="mt-lg-3 p-lg-5 mb-lg-5 text-center">
                    <img src="{{post.image}}" width="100%" alt="" width="100%"><br><br>
                    <p>{{post.content}}</p>
                    <div class="text-center w-50 mx-auto">
                        <h4 class="float-left"><b>Save</b></h4>
                        <h4 class="float-right"><b>Share</b></h4>
                    </div>
                </div>
            </div>
        </a>
        <br>
        @endeach
    </div>
</body>

</html>