<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script>
</head>
<style>
    nav {
        background: #18054a;
    }

    .feedback {
        background-color: #31B0D5;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        border-color: #46b8da;
    }

    h2 {
        color: #000;
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin: 30px 0 60px;
    }

    #mybutton {
        position: fixed;
        bottom: -4px;
        right: 10px;
    }
</style>

<body>
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light mb-5">
            <a href="/">
                <div class="form-inline">
                    <img src="/logo.png" width="70" height="70" class="d-inline-block align-top ml-3 mt-3" alt="">
                    <p class="ml-3 mt-4"></p>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="/social">Social</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="#">Search</a>
                    </li>
                    @if(auth)
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="#">{{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="/myorders">My orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="/logout">Logout</a>
                    </li>
                    @endif
                    @if(!auth)
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="/user/loginpage">User
                            login/Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ml-lg-3 mr-lg-3" style="color:white" href="/vendor/login">Vendor login</a>
                    </li>
                    @endif
                </ul>
            </div>
        </nav>
        <div class="container">
            <table class="table">
                <tr>
                    <th>
                        Vendor Name
                    </th>
                    <th>
                        Date Of Order
                    </th>
                    <th>
                        Products
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Total Bill
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
                @each(order in orders)
                <tr>
                    <td>{{order.vendor_name}}</td>
                    <td>{{order.createdAt.toDateString()}}</td>
                    <td>
                        @each(o in order.Products)
                        {{o.name}}<br>
                        @endeach
                    </td>
                    <td>
                        @each(o in order.Products)
                        {{o.price}}<br>
                        @endeach
                    </td>
                    <td>
                        @each(o in order.Products)
                        {{o.quantity}}<br>
                        @endeach
                    </td>
                    <td>{{order.totalPrice}}</td>
                    <td>{{order.status}}</td>
                    <td>
                        @if(order.status=='Pending')
                        <a href="/cancel/{{order._id}}" class="btn btn-danger">Cancel</a><br>
                        @endif
                    </td>
                </tr>
                @endeach
            </table>
        </div>
</body>

</html>