body {
    font: 18px 'Gilroy', sans-serif;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #himg {
        display: none;
    }

    .col-md-2 {
        margin-bottom: 15px;
    }

    #htu {
        margin-top: 20px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

html {
    scroll-behavior: smooth;
}

h1>b {
    font-size: 60px;
    color: #0398EF;
}


.btn {
    background: #2EB2FF;
    color: white;
    line-height: 23px;
}

.card {
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

#footer {
    color: white;
    background: #213C80;
}

.circle {
    width: 88.79px;
    height: 88.79px;
    border: 2px solid black;
    border-radius: 50%;
}

.vimg {
    width: 244.52px;
    height: 315.9px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle>p {
    font-weight: bold;
    color: #ffffff;
}

.middle>button {
    color: white;
}

.overlay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 244.52px;
    height: 315.9px;
    opacity: 0;
    transition: .5s ease;
    background-color: #0398EF;
}

#con:hover .overlay {
    opacity: 0.5;
}

#con:hover .middle {
    opacity: 1;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.vendor_name {
    font-size: 22px;
}

.vendor_area {
    color: #A6A6A6;
    font-size: 22px;
}

.pimg {
    width: 244.52px;
    height: 315.9px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}